*

!/.babelrc

!/.eslintignore
!/.eslintrc

!/.prettierignore
!/.prettierrc

!/bin/unit_test
!/bin/unit_test_app

!/Gruntfile.coffee

!/install_deps.sh

!/karma.conf.js

!/Makefile
!/Makefile.module

!/npm-shrinkwrap.json
!/package.json

!/webpack.config.js
!/webpack.config.prod.js

!/app.coffee
!/app
/app/js

!/config/settings.defaults.coffee

!/modules
/modules/*/Makefile
/modules/*/index.js
/modules/*/app/js
/modules/*/test/unit/js
/modules/*/test/acceptance/js

!/public
/public/es/modules

/public/js/*.js
/public/js/*.map
/public/js/analytics/
/public/js/directives/
/public/js/components/
/public/js/es/
/public/js/filters/
/public/js/ide/
/public/js/main/
/public/js/modules/
/public/js/services/
/public/js/utils/

/public/stylesheets/style*.css
/public/stylesheets/sl-style*.css
/public/stylesheets/light-style*.css
/public/stylesheets/ieee-style*.css
/public/stylesheets/*.map

/public/minjs/

/public/js/libs/require*.js

!/test
/test/unit/js
/test/unit_frontend/js
/test/smoke/js
/test/acceptance/js
