extends ../layout

block content

	.container
		.page-header
				h2
					a(href='/templates') Templates
					|  ›
					a(href='/templates/thesis')  Thesis
		.row
			a(href='/templates/thesis/agh')
				.span3
					.template-thumbnail.thumbnail.card
						img(src='https://d1hk1zhcb5hn6i.cloudfront.net/52fb8c5c34a287a85245b492/v/0/pdf-converted-cache/style-thumbnail')
						cite AGH
			a(href='/templates/thesis/arsclassica-thesis')
				.span3
					.template-thumbnail.thumbnail.card
						img(src='https://d1hk1zhcb5hn6i.cloudfront.net/52fe07cd34a287a85245b4dc/v/0/pdf-converted-cache/style-thumbnail')
						cite ArsClassica Thesis
			a(href='/templates/thesis/be-project-report')
				.span3
					.template-thumbnail.thumbnail.card
						img(src='https://d1hk1zhcb5hn6i.cloudfront.net/52fcf8bc34a287a85245b4a8/v/1/pdf-converted-cache/style-thumbnail')
						cite BE Project Report
			a(href='/templates/thesis/bergische-universitat-wuppertal-german-chemistry-thesis')
				.span3
					.template-thumbnail.thumbnail.card
						img(src='https://d1hk1zhcb5hn6i.cloudfront.net/52fb71581ae1e566597a25eb/v/1/pdf-converted-cache/style-thumbnail')
						cite Bergische Universitat Wuppertal German Chemistry Thesis
		.row
			a(href='/templates/thesis/bia%C5%82ystok-technical-university-thesis')
				.span3
					.template-thumbnail.thumbnail.card
						img(src='https://d1hk1zhcb5hn6i.cloudfront.net/52fb8c6633621a613683ecb0/v/0/pdf-converted-cache/style-thumbnail')
						cite Białystok Technical University Thesis
			a(href='/templates/thesis/bredele-thesis')
				.span3
					.template-thumbnail.thumbnail.card
						img(src='https://d1hk1zhcb5hn6i.cloudfront.net/52fe09c134a287a85245b4e0/v/2/pdf-converted-cache/style-thumbnail')
						cite Bredele Thesis
			a(href='/templates/thesis/chalmers-university-of-technology-master\'s-thesis-template')
				.span3
					.template-thumbnail.thumbnail.card
						img(src='https://d1hk1zhcb5hn6i.cloudfront.net/52fb8c8333621a613683ecb1/v/0/pdf-converted-cache/style-thumbnail')
						cite Chalmers University of Technology Master's Thesis Template
			a(href='/templates/thesis/classic-thesis')
				.span3
					.template-thumbnail.thumbnail.card
						img(src='https://d1hk1zhcb5hn6i.cloudfront.net/52fb864333621a613683ec70/v/0/pdf-converted-cache/style-thumbnail')
						cite classic-thesis
		.row
			a(href='/templates/thesis/cornell-university-thesis-(cuthesis)')
				.span3
					.template-thumbnail.thumbnail.card
						img(src='https://d1hk1zhcb5hn6i.cloudfront.net/52fb71541ae1e566597a25ea/v/1/pdf-converted-cache/style-thumbnail')
						cite Cornell University Thesis (cuthesis)
			a(href='/templates/thesis/czech-technical-university-in-prague-thesis')
				.span3
					.template-thumbnail.thumbnail.card
						img(src='https://d1hk1zhcb5hn6i.cloudfront.net/52fe03eb34a287a85245b4d4/v/0/pdf-converted-cache/style-thumbnail')
						cite Czech Technical University in Prague Thesis
			a(href='/templates/thesis/di-fct-unl-thesis')
				.span3
					.template-thumbnail.thumbnail.card
						img(src='https://d1hk1zhcb5hn6i.cloudfront.net/52fe00ee34a287a85245b4cd/v/0/pdf-converted-cache/style-thumbnail')
						cite DI-FCT-UNL Thesis
			a(href='/templates/thesis/durham-university-thesis')
				.span3
					.template-thumbnail.thumbnail.card
						img(src='https://d1hk1zhcb5hn6i.cloudfront.net/52fe03d334a287a85245b4d3/v/4/pdf-converted-cache/style-thumbnail')
						cite Durham University Thesis
		.row
			a(href='/templates/thesis/easy-thesis')
				.span3
					.template-thumbnail.thumbnail.card
						img(src='https://d1hk1zhcb5hn6i.cloudfront.net/52fdfd8234a287a85245b4c6/v/0/pdf-converted-cache/style-thumbnail')
						cite Easy Thesis
			a(href='/templates/thesis/edinburgh-university-thesis')
				.span3
					.template-thumbnail.thumbnail.card
						img(src='https://d1hk1zhcb5hn6i.cloudfront.net/52fb8bc534a287a85245b48b/v/0/pdf-converted-cache/style-thumbnail')
						cite Edinburgh University Thesis
			a(href='/templates/thesis/gatech-thesis')
				.span3
					.template-thumbnail.thumbnail.card
						img(src='https://d1hk1zhcb5hn6i.cloudfront.net/52fdfdff34a287a85245b4c7/v/0/pdf-converted-cache/style-thumbnail')
						cite GaTech Thesis
			a(href='/templates/thesis/gdansk-university-of-technology-thesis')
				.span3
					.template-thumbnail.thumbnail.card
						img(src='https://d1hk1zhcb5hn6i.cloudfront.net/52fb8c6f34a287a85245b493/v/0/pdf-converted-cache/style-thumbnail')
						cite Gdansk University of Technology Thesis

