.navbar .navbar-inner {
  background-color: white;
  background-image: none;
  box-shadow: none;
  border-bottom: 1px solid #dadfe1;
  padding: 1em 2em;

}
.navbar .brand {
  background-image: url('/img/logo.png');
  background-repeat: no-repeat;
  height: 16px;
  margin-top: .375em;
  padding: 0;
  width: 128px;
}
.navbar .nav > li > a {
  text-shadow: none;
}
.navbar .nav > li > .highlight {
  color: @linkColor;
  margin-left: 1em;
}
.navbar .nav > li > .btn,
.navbar .nav > li > .btn:hover {
  color: white;
  margin-top: 0;
}
