extends ../layout

block content
	.container
		.row
			.span8.offset2
				<h2>Sorry, we can't find the page you are looking for!</h2><h3><i class="icon-circle-arrow-left"></i> <a href="/">Take me home!</a></h3>
