.long-form-features
	.row
		.span7
			h2 Seamless Collaboration
			p Keep your LaTeX collaborators up to date by letting everyone access and edit the same LaTeX document.
		.span5
			img(src="/img/screenshots/editorCollaborating.png")

	.row
		.span5
			img(src="/img/screenshots/editorCode.png")
		.span7
			h2 Easy to Use
			p ShareLaTeX is the easiest LaTeX editor to get started if you’ve never used LaTeX before. No installation required!

	.row
		.span7
			h2 Work Anywhere
			p You can access our LaTeX editor and compile your LaTeX documents from any computer with an internet connection.
		.span5
			img(src="/img/screenshots/editorPDF.png")

	.row
		.span5
			img(src="/img/dropbox/dropbox_banner_tall.png")
		.span7
			h2 Sync with Dropbox
			p Keep all of your LaTeX projects synced to your Dropbox folder.
