.long-form-features
	.row
		.span4.offset2
			h2.h1 Seamless Collaboration
			p Keep your LaTeX collaborators up to date by letting everyone access and edit the same LaTeX document.
		.span3.offset1
			h2.h1
				i.fa.fa-group.fa-5x

	.row
		.span3.offset2
			h2.h1
				i.fa.fa-thumbs-up.fa-5x
		.span4.offset1
			h2.h1 Easy to Use
			p ShareLaTeX is the easiest LaTeX editor to get started if you’ve never used LaTeX before. No installation required!

	.row
		.span4.offset2
			h2.h1 Work Anywhere
			p You can access our LaTeX editor and compile your LaTeX documents from any computer with an internet connection.
		.span3.offset1
			h2.h1
				i.fa.fa-globe.fa-5x

	.row
		.span3.offset2
			h2.h1
				i.fa.fa-dropbox.fa-5x
		.span4.offset1
			h2.h1 Sync with Dropbox
			p Keep all of your LaTeX projects synced to your Dropbox folder.
