- if (settings.enableSubscriptions)
	hr.soften
	ul.unstyled.menu
		- if (settings.enableSubscriptions)
			li(class = typeof subscriptionTabActive != "undefined" ? "active" : "")
				a(href="/user/subscription").tab-link.subscription-tab
					.content Subscription

	.bonus-advert.ab-bonus-sidebar
		.speech-bubble
			h4
				a(href="/user/bonus").plain-link Get free stuff!
			p
				a(href="/user/bonus").plain-link Recommend ShareLaTeX to your friends and we'll upgrade your account for free.
			p
				a(href="/user/bonus").btn.btn-success Get free stuff
		img(src="/brand/logo/logo-64.png").lion
