footer
	.row-fluid
		ul.span6
			li © 2014 ShareLaTeX
			li
				a(href="/tos") Terms
			li
				a(href="/privacy_policy") Privacy
			li
				a(href="/security") Security
			li
				a.js-tender-widget(href='#') Contact
		ul.span6
			li
				a(href="http://www.twitter.com/sharelatex") Twitter
			li
				a(href="http://www.facebook.com/pages/ShareLaTeX/301671376556660") Facebook
			li
				a(href="https://plus.google.com/115074691861228882827", rel="publisher") Google+
			li
				a(href="/university") Licensing
			li
				a(href="https://github.com/sharelatex/sharelatex") Fork
			li
				a(href="/blog") Blog
			li
				a(href="/about") About
