extends ../layout

block vars
	if (!session || !session.user)
		- var suppressIntercom = true
	
block scripts
	script.
		if (typeof(ga) != "undefined") {
			ga('send', 'event', "help", "view")
		}
		if (typeof(Intercom) != "undefined") {
			Intercom("trackEvent", "view-help", { title: "#{title}" })
		}
		$(function() {
			// Highlight current page in side bar
			$(".contents a[href='" + window.location.pathname + "']").parent().addClass("active");
		})

block content
	.content.content-alt(ng-non-bindable)
		.container.wiki
			.row
				.col-xs-3.contents
					| !{contents.content}
				.col-xs-9.page
					.card
						.page-header
							h1 #{title}
							
						| !{page.content}