extends ../layout
block content
	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
					.card
						.page-header
							center: h1: span(class='.fa.fa-lock') &nbsp #{translate("log_in")}
							center
								a(class='btn btn-default', href='/local_login'): span(class='fa fa-user') &nbsp Local 
								&nbsp
								a(class='btn btn-danger', href='/auth/google'): span(class='fa fa-google-plus') &nbsp Google
								&nbsp
								a(class='btn btn-success', href='/auth/plm'): span(class='fa fa-spinner') &nbsp PLM
								