extends ../layout

block content
	.content.content-alt
		.container
			.row
				.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
					.card
						.page-header
							h1 #{translate("log_in")}

						a.btn-primary.btn(href='/oauth/login')  #{translate("Login via OAuth")}
								