input#editor-menu(type="checkbox", checked)
label#editor-menu-label(for="editor-menu", data-toggle="tooltip", data-placement="right", title="", data-original-title="Toggle File Menu")
	i.fa.fa-bars
header.navbar.navbar-fixed-top
	.navbar-inner
		.container-fluid
			a(href='/').brand
			ul.nav.pull-right
				-if(session && session.user)
					li
						-if(true)
							a(href='/project').highlight Projects
						-else
							a(href='/project') Projects
					li.dropdown
						-if(false)
							a.dropdown-toggle.highlight(href="#",data-toggle="dropdown") My Account
								b.caret
						-else
							a.dropdown-toggle(href="#",data-toggle="dropdown") My Account
								b.caret
						ul.dropdown-menu
							li
								a(href='/user/settings').userSettingsLink Account Settings
							- if (settings.enableSubscriptions)
								li
									a(href='/user/subscription').subscriptionLink Subscription
							li.divider
							li
								a(href='/learn')#learnLink LaTeX Tutorial
							li
								a(href='/resources')#resourcesLink Resources
							li
								a(href='/help') Help
							li.divider
							li
								a(href='/logout').logoutLink Logout
				-else
					li
						a(href='/templates')#templatesLink Templates
					li
						a(href='/user/subscription/plans')#plansLink Pricing
					li
						a(href='/login'+getRedirAsQueryString()) Login
					li
						a(href="/register").highlight Sign Up
input#chat-menu(type="checkbox")
label#chat-menu-label(for="chat-menu")
	i.fa.fa-comments
